<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<p>
	<strong>User:</strong>
	<%= @article.user.username %>
</p>

<h2> <%= @article.comments.count %> Comments</h2>
<%#= render @article.comments %>
<%= render 'comments/comment' %>

<% if user_signed_in? %>
	<h2>Add a comment:</h2>
	<%= render 'comments/form' %>
	<br>
<% else %>
	<h2>Login to comment -> <%= link_to "Log in", new_user_session_path %></h2>
	<p> Doesn't have an account member yet? <%= link_to "Sign up", new_user_registration_path %></p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>